# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Open git-time-machine view'
      'command': 'git-time-machine:open'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'git-time-machine'
      'submenu': [
        {
          'label': 'Open for current file'
          'command': 'git-time-machine:open'
        }
      ]
    ]
  }
]
